<div class="panel panel-default">
	<div class="panel-body{{#fixed}} fix{{/fixed}}">
		<div class="row">
			<div class="col-xs-4">
				<h4>{{ts_formatted}}</h4>
				<small>Aika #{{id}}</small> <br>({{status}})
			</div>
			<div class="col-xs-8">
				<div class="input-group">
					<input type="number" name="bip" class="form-control input-lg">
					<span class="input-group-btn">
						<button class="btn btn-danger btn-lg pull-right">Kiinnitä</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
