<div class="row">
	<div class="col-xs-4">
		<input name="bip" type="number" class="form-control input-lg" placeholder="Numero">
	</div>
	<div class="col-xs-8">
		<button id="time" class="btn btn-warning btn-lg btn-block">Ota aika</button>
	</div>
</div>
<ul class="marks"></ul>
